.form {
  height: 55vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(143, 115, 133);
  padding: 5%;
  /* color: white; */
  /* align-content: flex-end; */
}

.btncontr {
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
