.App {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: rgb(246, 242, 222);

  background-color: rgb(227, 183, 156);
}

button {
  background-color: rgb(194, 136, 124);
  color: rgb(246, 242, 222);
  border-radius: 2px;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 88vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
